

<!-- begin::main sidebar -->
<aside class="main-sidebar">
    <header>
        <a href="#" class="sidebar-brand">
            <img src="~/Assets/media/img/white-logo.png" alt="...">
        </a>
    </header>
    <ul>
        <div class="sidebar-background" style="background: url(~/Assets/media/img/sidebar-bg.jpg)">
            <div class="sidebar-background-color"></div>
        </div>
        <li>
            <a class="active" href="~/Admin/index"><i class="icon ti-home"></i><span>Dashboard</span></a>
        </li>
        <li class="nav-label"><span></span></li>
        <li><a href="~/Admin/Index"><i class="icon ti-pie-chart"></i><span>Users</span></a></li>
        <li class="nav-label"><span></span></li>
        <li><a href="~/Category/Index"><i class="icon ti-pie-chart"></i><span>Category</span></a></li>
        <li class="nav-label"><span></span></li>
        <li><a href="~/Product/Index"><i class="icon ti-pie-chart"></i><span>Products</span></a></li>
    </ul>
</aside>
<!-- end::main sidebar -->
