

@{
    var profileName = FashionHelpers.CommonHelpers.PublicHelper.GetActiveUser();
}
<!-- begin::navbar -->
<nav class="navbar">

    <div class="navbar-brand-wrapper">
        <a href="#" class="navbar-brand">
            <img src="~/Assets/media/img/white-logo.png" alt="...">
        </a>
        <a href="#" class="navbar-brand mobile-navbar-brand">
            <img src="~/Assets/media/img/mobile-white-logo.png" alt="...">
        </a>
        <div class="aside-toggler">
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>

    <div class="navbar-menu-wrapper">
        <div class="navbar-menu">
            <ul class="mobile-navbar-toggler">
                <li>
                    <a href="#">
                        <i class="ti-arrow-down"></i>
                    </a>
                </li>
            </ul>
            <ul>
            </ul>
        </div>

        <div class="navbar-tools">
            <ul>
                <li class="navbar-search dropdown">
                    <a href="#" data-toggle="dropdown">
                        <i class="ti-search"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul>
                            <li>
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="ti-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="user-notifications dropdown">
                    <a href="#" data-toggle="dropdown">
                        <i class="ti-bell"></i>
                        <span class="badge badge-danger badge-pill">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-menu-title">
                            Notifications
                            <a href="#">Mark all read</a>
                        </div>
                        <div class="dropdown-menu-body">
                            <ul>
                                <li>
                                    <a class="dropdown-item p-t-10 p-b-10 d-flex align-items-center" href="#">
                                        <span class="icon-block m-r-15 icon-block-sm icon-block-floating">
                                            <i class="fa fa-user-o"></i>
                                        </span>
                                        <div class="line-height-8">
                                            <h6>New user registration</h6>
                                            <small class="text-muted">2 hours ago</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item p-t-10 p-b-10 d-flex align-items-center" href="#">
                                        <span class="icon-block m-r-15 icon-block-sm icon-block-floating">
                                            <i class="fa fa-file-o"></i>
                                        </span>
                                        <div class="line-height-8">
                                            <h6>Files created</h6>
                                            <small class="text-muted">10 hours ago</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item p-t-10 p-b-10 d-flex align-items-center bg-danger-light" href="#">
                                        <span class="icon-block m-r-15 icon-block-sm bg-warning icon-block-floating">
                                            <i class="fa fa-warning"></i>
                                        </span>
                                        <div class="line-height-8">
                                            <h6 class="m-0">System failure</h6>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item p-t-10 p-b-10 d-flex align-items-center" href="#">
                                        <span class="icon-block m-r-15 icon-block-sm bg-success icon-block-floating">
                                            <i class="fa fa-refresh"></i>
                                        </span>
                                        <div class="line-height-8">
                                            <h6>Application updated</h6>
                                            <small class="text-muted">Yesterday</small>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item p-t-10 p-b-10 d-flex align-items-center" href="#">
                                        <span class="icon-block m-r-15 icon-block-sm icon-block-floating">
                                            <i class="fa fa-user-o"></i>
                                        </span>
                                        <div class="line-height-8">
                                            <h6>New user registration</h6>
                                            <small class="text-muted">2 hours ago</small>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="dropdown-item text-center">
                            View all <i class="fi-arrow-right"></i>
                        </a>
                    </div>
                </li>
                <li class="user-profile dropdown">
                    <a href="#" data-toggle="dropdown">
                        <figure class="avatar avatar-state-success avatar-sm">
                            @if (Request.IsAuthenticated)
                            {
                                <img class="rounded-circle" src="~/Passports/@profileName.ImageName" width="30" , height="30" alt="">
                            }
                            else
                            {
                                <span class="avatar-title bg-primary rounded-circle">l</span>
                            }
                        </figure>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-menu-title">
                            @if (Request.IsAuthenticated)
                            {
                                <strong>Welcome @profileName.UserName</strong>
                            }
                            else
                            {
                                <span>Account</span>
                            }

                        </div>
                        <div class="dropdown-menu-body">
                            <ul>
                                <li>
                                    <a class="dropdown-item" href="~/Admin/GetProfile">
                                        <i class="icon fa fa-user-o"></i> Profile
                                    </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    @if (Request.IsAuthenticated)
                                    {
                                        <a class="dropdown-item" href="~/Account/Logout">
                                            <i class="icon fa fa-sign-out"></i> Logout
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" href="~/Account/Register">
                                            <i class="icon fa fa-sign-in"></i> Register
                                        </a>
                                    }

                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="mobile-aside-toggler">
                    <a href="#">
                        <i class="ti-menu"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<!-- end::navbar -->
