@model IEnumerable<FashionWeb.Models.HomeViewModel>

@{
    ViewBag.Title = "Home Page";
}

<script src="~/Content/Slide-jquery.min.js"></script>
<script src="~/Content/Slide-bootstrap.min.js"></script>
<link href="~/Content/Slide-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/slide.css" rel="stylesheet" />


<div class="col-md-3 m-t-b-20">

    @if (ViewBag.Status == true)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>
    }

</div>

@*<div class="container">*@
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <!-- ##### Welcome Area Start ##### -->
        <section class=" item active  welcome_area bg-img background-overlay" style="background-image: url(../Content/Essence/img/bg-img/bg-1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-content">
                            <h6>asoss</h6>
                            <h2>New Collection</h2>
                            <a href="~/Home/shop" class="btn essence-btn">view collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Welcome Area End ##### -->
        <!-- ##### Welcome Area Start ##### -->
        <section class=" item   welcome_area bg-img background-overlay" style="background-image: url(../Content/Essence/img/bg-img/bg-1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-content">
                            <h6>asoss</h6>
                            <h2>New Collection</h2>
                            <a href="~/Home/shop" class="btn essence-btn">view collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Welcome Area End ##### -->
        <!-- ##### Welcome Area Start ##### -->
        <section class=" item  welcome_area bg-img background-overlay" style="background-image: url(../Content/Essence/img/bg-img/bg-1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-content">
                            <h6>asoss</h6>
                            <h2>New Collection</h2>
                            <a href="~/Home/shop" class="btn essence-btn">view collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Welcome Area End ##### -->
        <!-- ##### Welcome Area Start ##### -->
        <section class=" item  welcome_area bg-img background-overlay" style="background-image: url(../Content/Essence/img/bg-img/bg-1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-content">
                            <h6>asoss</h6>
                            <h2>New Collection</h2>
                            <a href="~/Home/shop" class="btn essence-btn">view collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Welcome Area End ##### -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>
@*</div>*@


<!-- ##### Top Catagory Area Start ##### -->
<div class="top_catagory_area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Catagory -->
            @foreach (var item in Model)
            {
                if (item.product.IsFeatured)
                {
                    <div class="col-12 col-sm-6 col-md-4">

                        <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../ProductImage/@item.product.Image);">
                            <div class="catagory-content">
                                <a href="~/Home/shop">@item.category.CategoryName</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- ##### Top Catagory Area End ##### -->

<!-- ##### CTA Area Start ##### -->
<div class="cta-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content bg-img background-overlay" style="background-image: url(../Content/Essence/img/bg-img/bg-5.jpg);">
                    <div class="h-100 d-flex align-items-center justify-content-end">
                        <div class="cta--text">
                            <h6>-60%</h6>
                            <h2>Global Sale</h2>
                            <a href="~/Home/shop" class="btn essence-btn">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### CTA Area End ##### -->
<!-- ##### New Arrivals Area Start ##### -->
<section class="new_arrivals_area section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Popular Products</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel">
                    @foreach (var item in Model)
                    {
                        <!-- Single Product -->
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            @if (item.product.IsNew)
                            {
                                <div class="product-img">
                                    <img src="~/ProductImage/@item.product.Image" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="~/ProductImage/@item.product.Image1" alt="">

                                    <!-- Product Badge -->
                                    <div class="product-badge offer-badge">
                                        <span>-@item.product.Discount%</span>
                                    </div>

                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>@item.brand.BrandName</span>
                                    <a href="~/Home/SingleProductDetails?id=@item.product.ProductId">
                                        <h6>@item.product.Description</h6>
                                    </a>
                                    <p class="product-price">$@item.product.Price</p>

                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                            @*<button class="btn essence-btn" onclick="AddCart()">Shop for this </button>*@
                                            <a href="~/Home/Shop"  class="btn essence-btn">Start Shopping </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### New Arrivals Area End ##### -->
<!-- ##### Brands Area Start ##### -->
<div class="brands-area d-flex align-items-center justify-content-between">
    <!-- Brand Logo -->
    <div class="single-brands-logo">
        <img src="~/Content/Essence/img/core-img/brand1.png" alt="">
    </div>
    <!-- Brand Logo -->
    <div class="single-brands-logo">
        <img src="~/Content/Essence/img/core-img/brand2.png" alt="">
    </div>
    <!-- Brand Logo -->
    <div class="single-brands-logo">
        <img src="~/Content/Essence/img/core-img/brand3.png" alt="">
    </div>
    <!-- Brand Logo -->
    <div class="single-brands-logo">
        <img src="img/core-img/brand4.png" alt="">
    </div>
    <!-- Brand Logo -->
    <div class="single-brands-logo">
        <img src="~/Content/Essence/img/core-img/brand5.png" alt="">
    </div>
    <!-- Brand Logo -->
    <div class="single-brands-logo">
        <img src="~/Content/Essence/img/core-img/brand6.png" alt="">
    </div>
</div>
<!-- ##### Brands Area End ##### -->

