
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashion Admin - Recovery Password</title>
    <!-- begin::global styles -->
    <link rel="stylesheet" href="~/Assets/vendors/basic.bundle.css" type="text/css">
    <!-- end::global styles -->
    <!-- begin::custom styles -->
    <link rel="stylesheet" href="~/Assets/css/bundle.min.css" type="text/css">
    <!-- end::custom styles -->
</head>
<body>
    <!-- begin::page loader-->
    <div class="page-loader">
        <div class="spinner-border"></div>
        <span>Loading ...</span>
    </div>
    <!-- end::page loader -->
    <div class="user-page">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>Recovery Password</h4>
                </div>
                @using (Html.BeginForm())
                {
                    <div class="text-success">
                        @ViewBag.Message
                    </div>
                    <div class="form-group mb-4">
                        @Html.TextBox("EmailID", "", new { @class = "form-control fodrm-control-lg", placeholder = "Email Address" })
                        @*<input type="email" class="form-control fodrm-control-lg" autofocus placeholder="Email Address">*@
                    </div>
                    <button class="btn btn-primary btn-lg btn-block btn-uppercase mb-4">Submit</button>
                    <p class="text-right">
                        @Html.ActionLink("Sign in now", "Login", "Account", new { @class = "text-underline" })
                    </p>
                }
            </div>
        </div>
    </div>
    <!-- begin::global scripts -->
    <script src="~/Assets/vendors/basic.bundle.js"></script>
    <!-- end::global scripts -->
    <!-- begin::custom scripts -->
    <script src="~/Assets/js/site.min.js"></script>
    <!-- end::custom scripts -->
</body>
</html>
